body {
  font-family: Comic Sans MS;
  background-color: light blue
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  margin: 0;
  color: #333;
}

article h2 {
  color: #555;
}

.date {
  color: #888;
  font-size: 0.9em;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #999;
}